@font-face {
  font-family: Paralucent;
  font-display: swap;
  src: url(../fonts/Paralucent-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: Paralucent;
  font-display: swap;
  src: url(../fonts/Paralucent-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Paralucent;
  font-display: swap;
  src: url(../fonts/Paralucent-DemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: Paralucent;
  font-display: swap;
  src: url(../fonts/Paralucent-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Paralucent;
  font-display: swap;
  src: url(../fonts/Paralucent-Heavy.woff2) format("woff2");
  font-weight: 900;
  font-style: normal
}
@font-face {
  font-family: ParalucentText;
  font-display: swap;
  src: url(../fonts/ParalucentText-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: ParalucentText;
  font-display: swap;
  src: url(../fonts/ParalucentText-BookItalic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic
}
@font-face {
  font-family: ParalucentText;
  font-display: swap;
  src: url(../fonts/ParalucentText-Book.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
:root {
  --steel-degree-dot-overlay: #8d9799;
  --green-grad-dot-overlay: #b2beb0;
  --pepins-black: #1e190f;
  --pepins-orange: #d68655;
  --pepins-light-gray-2: #f1f2ed;
  --pepins-steel: #5d666f;
  --pepins-green-signal: #64a04e;
  --pepins-red-signal: #db4c34;
  --white: #fff;
  --pepins-light-gray: #e8e9e4;
  --pepins-light-steel: #8d9799;
  --pepins-green: #839780;
  --pepins-green-2: #b2beb0;
  --pepins-green-80: rgba(131, 151, 128, 0.8);
  --pepins-green-50: rgba(131, 151, 128, 0.5);
  --pepins-light-gray-2-80: rgba(241, 242, 237, 0.8);
  --pepins-light-gray-2-50: rgba(241, 242, 237, 0.5);
  --pepins-orange-80: rgba(214, 134, 85, 0.8);
  --pepins-orange-50: rgba(214, 134, 85, 0.5);
  --pepins-steel-25: rgba(141, 151, 153, 0.25)
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: var(--pepins-black);
  line-height: 1;
  font-family: Paralucent;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Paralucent;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  font-weight: 300
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 71.875rem;
  margin: 0 auto;
  padding: 0 1.25rem
}
.menu__body {
  display: flex;
  align-items: center
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: .625rem
}
.menu__link {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: .01em;
  display: flex;
  align-items: center;
  gap: .3125rem;
  min-height: 1.6875rem;
  color: var(--pepins-black);
  transition: color .3s
}
.menu__search {
  position: relative;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content
}
.menu__search-input {
  width: 9.9375rem;
  min-height: 1.6875rem;
  padding: .3125rem 1.875rem .3125rem .6875rem;
  border-radius: 1.25rem;
  background-color: var(--pepins-light-gray);
  font-size: .75rem;
  letter-spacing: .01em;
  line-height: normal;
  font-weight: 300;
  color: var(--pepins-black)
}
.menu__search-input::-webkit-input-placeholder {
  color: var(--pepins-black)
}
.menu__search-input:-ms-input-placeholder {
  color: var(--pepins-black)
}
.menu__search-input::-ms-input-placeholder {
  color: var(--pepins-black)
}
.menu__search-input::placeholder {
  color: var(--pepins-black)
}
.menu__search-btn {
  position: absolute;
  right: .3125rem;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  width: 1rem;
  height: 1rem;
  display: grid;
  place-content: center
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--white);
  padding: 3.5rem 1.25rem 4rem;
  border-radius: 0 0 1.25rem 1.25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  visibility: hidden;
  opacity: 0;
  transition: all .3s
}
.open-dropdown .dropdown {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  visibility: visible;
  opacity: 1
}
.dropdown__back {
  display: none
}
.dropdown__list {
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 1.625rem
}
.dropdown__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: .01em;
  color: var(--pepins-black);
  transition: color .3s
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: 7.25rem;
  background-color: var(--pepins-orange);
  min-height: 1.6875rem;
  border-radius: 1.25rem;
  padding: .3125rem 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3125rem;
  text-align: center;
  color: var(--white);
  font-weight: 600;
  font-size: .6875rem;
  letter-spacing: .05em;
  text-transform: uppercase;
  transition: background .3s
}
.big-button {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: 7.25rem;
  background-color: var(--pepins-orange);
  min-height: 2.3125rem;
  border-radius: 1.25rem;
  padding: .3125rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3125rem;
  text-align: center;
  color: var(--white);
  font-weight: 600;
  font-size: .875rem;
  letter-spacing: .05em;
  text-transform: uppercase;
  transition: background .3s
}
.white-btn {
  color: var(--pepins-steel);
  background-color: var(--pepins-light-gray-2)
}
.gray-btn {
  background-color: var(--pepins-steel)
}
.title {
  font-weight: 700;
  line-height: 112%;
  letter-spacing: -.01em;
  color: var(--pepins-black)
}
.header {
  padding: 2.5rem 0 1rem 0;
  background-color: var(--white)
}
.header__body {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1.25rem;
  position: relative
}
.header__logo {
  max-width: 12.375rem
}
.header__logo img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.footer {
  padding: 3.625rem 0 5.5625rem 0;
  background-color: var(--pepins-steel);
  color: var(--white)
}
.footer__body {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem
}
.footer__left {
  display: flex;
  flex-direction: column;
  max-width: 17.5rem;
  width: 100%
}
.footer__left p {
  font-size: .5rem;
  line-height: 124%;
  letter-spacing: .02em
}
.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: .75rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 108%;
  color: var(--white)
}
.footer__logo img {
  width: 3.5rem;
  height: 3.5rem;
  -o-object-fit: cover;
  object-fit: cover
}
.footer__contact-link {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-weight: 300;
  font-size: .75rem;
  line-height: 130%;
  letter-spacing: -.01em;
  color: var(--white);
  transition: color .3s
}
.footer__contact-link:not(:last-child) {
  margin-bottom: .625rem
}
.footer__right {
  max-width: 33.75rem;
  width: 100%
}
.footer__nav {
  display: flex;
  gap: 1.875rem
}
.footer__nav:not(:last-child) {
  margin-bottom: 5rem
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: .3125rem
}
.footer__nav-title {
  font-weight: 900;
  font-size: .75rem;
  line-height: 108%
}
.footer__nav-title:not(:last-child) {
  margin-bottom: .375rem
}
.footer__nav-link {
  font-size: .75rem;
  line-height: 130%;
  letter-spacing: -.01em;
  transition: color .3s
}
.footer__bottom-title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 100%
}
.footer__bottom-title:not(:last-child) {
  margin-bottom: .3125rem
}
.footer__bottom-text {
  font-size: .75rem;
  line-height: 133%
}
.footer__bottom-text:not(:last-child) {
  margin-bottom: .625rem
}
.socials {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: .5rem 1rem;
  flex-wrap: wrap
}
.socials__link {
  color: var(--white);
  transition: color .3s
}
.hero {
  display: grid;
  min-height: 58rem;
  height: 100%;
  background: url(../img/hero.webp) center/cover no-repeat;
  padding: 2.40625rem 0 3.9375rem 0
}
.hero__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.875rem
}
.hero__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem
}
.hero__top-item {
  display: flex;
  color: var(--white)
}
.hero__top-num {
  font-family: ParalucentText;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  border-right: 2px solid var(--white);
  font-weight: 700;
  letter-spacing: -.04em
}
.hero__top-text {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-weight: 300;
  line-height: 104%;
  letter-spacing: .02em
}
.hero__body {
  color: var(--white)
}
.hero__title {
  max-width: 56.25rem;
  font-weight: 700;
  line-height: 105%;
  letter-spacing: -.02em;
  text-align: center;
  margin: 0 auto 1rem auto
}
.hero__text {
  font-family: ParalucentText;
  max-width: 35.9375rem;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -.02em;
  text-align: center;
  margin: 0 auto 2.125rem auto
}
.hero__btn {
  margin: 0 auto
}
.works {
  background-color: var(--pepins-light-gray-2);
  padding: 6rem 0 6.8125rem 0
}
.works__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1.25rem;
  padding-bottom: .3125rem;
  border-bottom: 2px solid var(--pepins-orange);
  margin-bottom: 2.5rem
}
.works__link {
  font-weight: 600;
  font-size: 1rem;
  line-height: 104%;
  text-decoration: underline;
  text-align: right;
  color: var(--pepins-black);
  transition: color .3s
}
.works__items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(18.125rem,1fr));
  gap: 2rem 1.875rem
}
.works__items:not(:last-child) {
  margin-bottom: 4rem
}
.works__btn {
  margin: 0 auto
}
.card {
  position: relative;
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 4px 4px 24px 0 rgba(0,0,0,.15);
  background-color: var(--white);
  min-height: 35rem
}
.card__indicator {
  position: absolute;
  top: 1rem;
  left: 2rem;
  z-index: 2;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: .25rem;
  border-radius: 1.25rem;
  min-width: 5.0625rem;
  padding: .125rem .5rem;
  background-color: var(--pepins-steel);
  font-weight: 300;
  font-size: .875rem;
  line-height: 143%;
  letter-spacing: .02em;
  color: var(--white)
}
.card__arrow {
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  z-index: 2;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.15);
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.card__arrow svg {
  width: 100%;
  height: 100%
}
.card__img {
  width: 100%;
  height: 13.75rem
}
.card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.card__body {
  padding: 0 2rem 2rem 2rem
}
.card__logo {
  display: grid;
  place-content: center;
  position: relative;
  z-index: 2;
  border: 2px solid var(--white);
  border-radius: 1.25rem;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.15);
  background-color: var(--white);
  width: 6rem;
  height: 6rem;
  margin: -3.5rem 0 1.5rem 0;
  overflow: hidden
}
.card__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.card__title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: -.01em;
  color: var(--pepins-black);
  padding-bottom: .5rem;
  border-bottom: 2px solid var(--pepins-orange);
  margin-bottom: 1rem
}
.card__text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: .3125rem;
  font-weight: 300;
  font-size: .875rem;
  line-height: 143%;
  letter-spacing: .01em
}
.card__link {
  font-weight: 700;
  font-size: .875rem;
  line-height: 143%;
  letter-spacing: .01em;
  text-decoration: underline;
  color: var(--pepins-steel);
  transition: color .3s
}
.card__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem .4375rem;
  margin: 1.375rem -.5rem 0 -.25rem
}
.card__tag {
  border-radius: 1.25rem;
  padding: .125rem .5625rem;
  font-weight: 500;
  font-size: .75rem;
  line-height: 200%;
  letter-spacing: .01em;
  background-color: var(--pepins-light-gray)
}
.soon-card {
  position: relative;
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 4px 4px 24px 0 rgba(0,0,0,.15);
  background-color: var(--white);
  min-height: 35rem;
  padding: 4rem 2rem 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem
}
.soon-card__title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 108%;
  letter-spacing: -.01em;
  text-align: center;
  color: var(--white)
}
.soon-card__body {
  position: relative;
  z-index: 2
}
.soon-card__text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: .01em;
  text-align: center;
  color: #000
}
.soon-card__text:not(:last-child) {
  margin-bottom: 1.6875rem
}
.soon-card__subtitle {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 108%;
  text-align: center;
  color: var(--pepins-black)
}
.soon-card__subtitle:not(:last-child) {
  margin-bottom: 1rem
}
.soon-card__btn {
  margin: 0 auto
}
.empty-card {
  position: relative;
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 4px 4px 24px 0 rgba(0,0,0,.15);
  background: var(--pepins-green-2);
  min-height: 35rem;
  padding: 4rem 2rem 4.1875rem;
  display: flex;
  flex-direction: column;
  justify-content: center
}
.empty-card__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: .01em;
  text-align: center;
  color: var(--white)
}
.empty-card__title:not(:last-child) {
  margin-bottom: 1.71875rem
}
.empty-card__btn {
  margin: 0 auto
}
.newsletter {
  padding: 4.28125rem 0 4.1875rem 0;
  background-color: var(--pepins-light-gray)
}
.newsletter__text {
  display: flex;
  flex-direction: column;
  gap: .3125rem;
  max-width: 45.625rem;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: .01em
}
.newsletter__text:not(:last-child) {
  margin-bottom: 2.46875rem
}
.newsletter__btn {
  margin: 0 auto
}
.info {
  display: grid;
  grid-template-columns: minmax(1.25rem,1fr) minmax(0,calc(69.375rem / 2)) minmax(0,calc(69.375rem / 2)) minmax(1.25rem,1fr)
}
.info > :not(.info__img) {
  grid-column: 2/3;
  padding: 1.8125rem 1.875rem 1.875rem 0;
  display: grid;
  align-content: center;
  gap: 1.5rem;
  justify-items: start
}
.info.info-reverse > :not(.info__img) {
  order: 1;
  grid-column: 3/4;
  padding: 1.875rem 0 1.875rem 1.875rem
}
.info__text {
  max-width: 29.6875rem;
  font-weight: 300;
  font-size: 1rem;
  line-height: 130%
}
.info__text h2 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 108%
}
.info__text h2:not(:last-child) {
  margin-bottom: .75rem
}
.info__text p:not(:last-child) {
  margin-bottom: .3125rem
}
.info__img {
  grid-column: 3/-1;
  width: 100%;
  max-height: 28rem;
  height: 100%
}
.info__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.info-reverse .info__img {
  grid-column: 1/3;
  order: 0
}
.review {
  padding: 3.9375rem 0 4rem 0;
  background: url(../img/quote-bg.webp) center/cover no-repeat
}
.review__text {
  max-width: 57.5rem;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -.01em;
  color: var(--white)
}
.review__bottom {
  display: flex;
  align-items: flex-start;
  gap: 2rem
}
.review__autor {
  font-family: ParalucentText;
  flex: 1 1 auto;
  border-top: 2px solid var(--pepins-orange);
  margin-top: 1.1875rem;
  padding-top: .1875rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 130%;
  letter-spacing: -.02em;
  color: var(--white)
}
.review__btn {
  max-width: 21.875rem;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: .875rem;
  gap: .625rem;
  letter-spacing: .05em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  border-radius: 3.125rem;
  padding: .21875rem .25rem .21875rem 2.5625rem;
  background-color: #d9d9d9;
  transition: background .3s
}
.review__btn span {
  flex: 1 1 auto
}
.review__btn svg {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.review__btn path {
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.15)
}
.trade {
  padding: 6.0625rem 0 10.6875rem 0;
  background-color: var(--pepins-light-gray-2)
}
.trade__title:not(:last-child) {
  margin-bottom: 2.5rem
}
.trade__body {
  overflow: auto
}
.trade__body:not(:last-child) {
  margin-bottom: 1.5rem
}
.trade-table {
  display: grid;
  width: 100%
}
.trade-table__head {
  border-bottom: 2px solid var(--pepins-orange);
  display: grid;
  grid-template-columns: minmax(12.5rem,1fr) 12.5rem 12.5rem 9.375rem 9.375rem 11.875rem
}
.trade-table__head-item {
  padding: .75rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 104%;
  letter-spacing: -.01em
}
.trade-table__head-item:not(:first-child) {
  text-align: right
}
.trade-table__row {
  display: grid;
  grid-template-columns: minmax(12.5rem,1fr) auto;
  background-color: var(--pepins-light-gray-2);
  min-height: 3rem
}
.trade-table__row:nth-child(odd) {
  background-color: var(--pepins-steel-25)
}
.trade-table__item {
  padding: .75rem 1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1rem;
  line-height: 104%
}
.trade-table__indicator span {
  display: none
}
.trade-table__name {
  font-weight: 600;
  text-decoration: underline;
  color: var(--pepins-steel);
  transition: color .3s
}
.trade-table__arrow {
  display: none
}
.trade-table__body {
  font-family: ParalucentText;
  display: grid;
  grid-template-columns: 12.5rem 12.5rem 9.375rem 9.375rem 11.875rem;
  text-align: right
}
.trade-table__body .trade-table__item {
  justify-content: flex-end
}
.trade-table__title {
  display: none
}
.trade-table__percent {
  font-weight: 700
}
.trade-table__percent.minus-percent {
  color: var(--pepins-red-signal)
}
.trade-table__percent.plus-percent {
  color: var(--pepins-green-signal)
}
@media (min-width:29.99875em) {
  .footer__nav-column {
    max-width: 10rem;
    width: 100%
  }
  .footer__bottom {
    border-top: 2px solid var(--white);
    padding-top: 1rem
  }
}
@media (min-width:71.875em) {
  .menu__body {
    gap: 2rem
  }
  .menu__list {
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem
  }
  .title {
    font-size: 2.375rem
  }
  .hero__top-num {
    font-size: 3rem
  }
  .hero__top-text {
    font-size: 1.25rem
  }
  .hero__title {
    font-size: 4rem
  }
  .review__text {
    font-size: 3rem
  }
  .review__text:not(:last-child) {
    margin-bottom: 8.1875rem
  }
}
@media (min-width:89.99875em) {
  .info > :not(.info__img) {
    padding-right: 5rem
  }
  .info.info-reverse > :not(.info__img) {
    padding-left: 6.875rem
  }
}
@media (max-width:20em) {
  .title {
    font-size: 1.5rem
  }
  .hero__top-num {
    font-size: 2rem
  }
  .hero__top-text {
    font-size: .875rem
  }
  .hero__title {
    font-size: 2rem
  }
  .review__text {
    font-size: 2.1875rem
  }
}
@media (max-width:61.99875em) {
  .menu__body {
    gap: 1rem
  }
  .menu__list {
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem
  }
  .info > :not(.info__img) {
    padding-right: 1.875rem
  }
  .info.info-reverse > :not(.info__img) {
    padding-left: 1.875rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    z-index: 15;
    padding: 3.5rem 1.25rem 6.25rem 1.25rem;
    background-color: var(--white);
    align-items: stretch;
    flex-direction: column;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.5rem;
    left: -100%;
    top: 0;
    background-color: var(--white);
    transition: left .3s;
    z-index: 17
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex: 1 1 auto;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 1.625rem
  }
  .menu__link {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 108%;
    letter-spacing: -.01em;
    position: relative
  }
  .menu__link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .125rem;
    background-color: var(--pepins-black)
  }
  .menu__link::after {
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    background: url(../img/icon/arrow-left.svg) center/18px no-repeat;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }
  .menu__search {
    margin: 0 auto
  }
  .menu__btn {
    margin: 0 auto
  }
  .dropdown {
    position: fixed;
    width: 100%;
    height: 100%;
    left: auto;
    right: -150%;
    top: 0;
    overflow: auto;
    z-index: 16;
    padding: 3.5rem 1.25rem 4.375rem 1.25rem;
    background-color: var(--white);
    display: grid;
    justify-content: stretch;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    visibility: visible;
    opacity: 1;
    transition: right .3s
  }
  .open-dropdown .dropdown {
    right: 0
  }
  .dropdown__back {
    align-self: end;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    display: flex;
    align-items: center;
    gap: .3125rem;
    margin-bottom: .625rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 108%;
    letter-spacing: -.01em;
    position: relative
  }
  .dropdown__back::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .125rem;
    background-color: var(--pepins-black)
  }
  .dropdown__link {
    text-decoration: underline
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.5rem;
    height: .75rem;
    z-index: 18;
    outline: 0
  }
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .25rem;
    background-color: var(--pepins-orange)
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .125rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .125rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .button {
    font-size: .875rem;
    min-height: 2.3125rem
  }
  .header {
    padding: 1rem 0
  }
  .header__body {
    display: grid;
    grid-template-columns: 1.5rem 1fr 1.5rem;
    align-items: center
  }
  .header__body::before {
    content: ""
  }
  .header__logo {
    max-width: 7.375rem;
    margin: 0 auto;
    position: relative;
    z-index: 18
  }
  .footer__nav {
    flex-wrap: wrap
  }
  .hero {
    padding: 0 0 6.1875rem 0;
    min-height: 45rem;
    background: url(../img/hero-mob.webp) center/cover no-repeat
  }
  .hero__top {
    justify-content: center;
    overflow: hidden;
    background-color: var(--pepins-steel);
    margin: 0 -1.25rem;
    padding: .5rem 1.25rem
  }
  .hero__top-item:nth-child(2),
  .hero__top-item:nth-child(3) {
    display: none
  }
  .works {
    padding: 4rem 0
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:40.62375em) {
  .footer {
    padding: 4rem 0
  }
  .footer__body {
    flex-direction: column-reverse;
    gap: 5.75rem
  }
  .footer__left {
    max-width: 100%
  }
  .footer__logo {
    align-items: center;
    flex-direction: row
  }
  .footer__right {
    max-width: 100%
  }
  .footer__nav:not(:last-child) {
    margin-bottom: 2rem
  }
  .footer__bottom-btn {
    background-color: var(--pepins-light-gray-2);
    color: var(--pepins-steel)
  }
  .info > :not(.info__img) {
    grid-column: auto
  }
  .info.info-reverse > :not(.info__img) {
    grid-column: auto;
    padding: 3.125rem 1.25rem 5.4375rem 1.25rem
  }
  .info {
    grid-template-columns: 1fr
  }
  .info > :not(.info__img) {
    padding: 3.125rem 1.25rem 5.4375rem 1.25rem;
    order: 1;
    gap: 1.875rem;
    justify-items: stretch
  }
  .info-reverse .info__img {
    grid-column: auto
  }
  .info__img {
    order: 0;
    grid-column: auto
  }
  .review {
    padding: 6rem 0 8.75rem 0
  }
  .review__text:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .review__bottom {
    flex-direction: column;
    align-items: stretch;
    gap: 3.75rem
  }
  .review__autor {
    margin-top: 0
  }
  .trade {
    padding: 3.875rem 0
  }
  .trade__title {
    padding-bottom: .1875rem;
    border-bottom: 2px solid var(--pepins-orange)
  }
  .trade-table__head {
    display: none
  }
  .trade-table__row {
    grid-template-columns: 1fr;
    background-color: var(--pepins-steel-25)
  }
  .trade-table__row:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .trade-table__row > .trade-table__item {
    gap: 1.125rem;
    flex-wrap: wrap
  }
  .trade-table__item {
    padding: .75rem 1.25rem
  }
  .trade-table__indicator {
    order: 2;
    min-width: 5.0625rem;
    font-weight: 300;
    font-size: .875rem;
    line-height: 143%;
    letter-spacing: .02em;
    padding: .125rem .5rem;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: .25rem;
    border-radius: 1.25rem;
    background-color: var(--pepins-steel)
  }
  .trade-table__indicator span {
    display: block
  }
  .trade-table__name {
    flex: 1 1 auto;
    order: 0
  }
  .trade-table__arrow {
    order: 1;
    display: grid;
    place-content: center;
    width: 1rem;
    height: 1rem;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
  }
  .open-table .trade-table__arrow {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }
  .trade-table__body {
    text-align: left;
    grid-template-columns: 1fr;
    background-color: var(--pepins-light-gray-2);
    transition: all .3s,opacity .1s;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    visibility: hidden;
    height: 0;
    opacity: 0
  }
  .trade-table__body .trade-table__item {
    padding: .4375rem 1.25rem;
    font-size: .875rem;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
    gap: .25rem
  }
  .open-table .trade-table__body {
    padding-top: 1.1875rem;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    visibility: visible;
    height: auto;
    opacity: 1
  }
  .trade-table__title {
    display: block;
    font-weight: 600
  }
}
@media (max-width:29.99875em) {
  .menu__search {
    display: none
  }
  .footer__nav {
    flex-direction: column;
    gap: 0
  }
  .footer__nav-column {
    border-bottom: 2px solid var(--white)
  }
  .footer__nav-column:first-child {
    border-top: 2px solid var(--white)
  }
  .footer__nav-list {
    gap: .625rem;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: all .3s,opacity .1s
  }
  .open-footer-nav .footer__nav-list {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    visibility: visible;
    opacity: 1;
    height: auto;
    padding-bottom: 1.25rem
  }
  .footer__nav-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .625rem;
    padding: 1.25rem 0;
    font-size: 1.375rem;
    font-weight: 600
  }
  .footer__nav-title:not(:last-child) {
    margin-bottom: 0
  }
  .footer__nav-title::after {
    content: "";
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    background: url(../img/icon/arrow-white.svg) center/16px no-repeat;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
  }
  .open-footer-nav .footer__nav-title::after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }
  .footer__nav-link {
    font-size: 1.25rem;
    line-height: 128%;
    text-decoration: underline
  }
  .footer__bottom-title {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 108%
  }
  .footer__bottom-text {
    font-size: 1.25rem;
    line-height: 128%
  }
  .footer__bottom-text:not(:last-child) {
    margin-bottom: 1.6875rem
  }
  .footer__bottom-btn {
    max-width: 100%
  }
  .hero__title {
    text-align: left;
    margin: 0 0 1.25rem 0
  }
  .hero__text {
    text-align: left;
    margin: 0 0 1.8125rem 0
  }
  .hero__btn {
    max-width: 100%
  }
  .works__link {
    display: none
  }
  .works__btn {
    background-color: transparent;
    padding: 0;
    font-size: 1rem;
    min-height: 0;
    color: var(--pepins-steel);
    text-transform: none;
    text-decoration: underline;
    gap: 0
  }
  .works__btn::after {
    content: "..."
  }
  .newsletter {
    padding: 8rem 0;
    background: var(--pepins-green) url(../img/newsletter-bg.webp) center/cover no-repeat
  }
  .newsletter__text {
    text-align: left;
    gap: 1.875rem;
    font-weight: 700;
    color: var(--white)
  }
  .newsletter__btn {
    max-width: 100%;
    color: var(--pepins-steel);
    background-color: var(--pepins-light-gray-2)
  }
  .info__btn {
    max-width: 100%
  }
  .review__btn {
    max-width: 100%
  }
  .trade__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .trade__btn {
    margin: 0 auto;
    background-color: transparent;
    padding: 0;
    font-size: 1rem;
    min-height: 0;
    color: var(--pepins-steel);
    text-transform: none;
    text-decoration: underline;
    gap: 0
  }
  .trade__btn::after {
    content: "..."
  }
}
@media (min-width:61.99875em) and (max-width:71.875em) {
  @supports (gap:clamp(1rem ,-5.2775598026rem + 10.1253005949vw ,2rem)) {
    .menu__body {
      gap: clamp(1rem ,-5.2775598026rem + 10.1253005949vw ,2rem)
    }
  }
  @supports not (gap:clamp(1rem ,-5.2775598026rem + 10.1253005949vw ,2rem)) {
    .menu__body {
      gap: calc(1rem + 1 * (100vw - 61.99875rem)/ 9.87625)
    }
  }
  @supports ((-moz-column-gap:clamp(1rem ,-5.2775598026rem + 10.1253005949vw ,2rem)) or (column-gap:clamp(1rem ,-5.2775598026rem + 10.1253005949vw ,2rem))) {
    .menu__list {
      -webkit-column-gap: clamp(1rem ,-5.2775598026rem + 10.1253005949vw ,2rem);
      -moz-column-gap: clamp(1rem ,-5.2775598026rem + 10.1253005949vw ,2rem);
      column-gap: clamp(1rem ,-5.2775598026rem + 10.1253005949vw ,2rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1rem ,-5.2775598026rem + 10.1253005949vw ,2rem)) or (column-gap:clamp(1rem ,-5.2775598026rem + 10.1253005949vw ,2rem))) {
    .menu__list {
      -webkit-column-gap: calc(1rem + 1 * (100vw - 61.99875rem)/ 9.87625);
      -moz-column-gap: calc(1rem + 1 * (100vw - 61.99875rem)/ 9.87625);
      column-gap: calc(1rem + 1 * (100vw - 61.99875rem)/ 9.87625)
    }
  }
}
@media (min-width:20em) and (max-width:71.875em) {
  @supports (font-size:clamp(1.5rem ,1.1626506024rem + 1.686746988vw ,2.375rem)) {
    .title {
      font-size: clamp(1.5rem ,1.1626506024rem + 1.686746988vw ,2.375rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.1626506024rem + 1.686746988vw ,2.375rem)) {
    .title {
      font-size: calc(1.5rem + .875 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (font-size:clamp(2rem ,1.6144578313rem + 1.9277108434vw ,3rem)) {
    .hero__top-num {
      font-size: clamp(2rem ,1.6144578313rem + 1.9277108434vw ,3rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.6144578313rem + 1.9277108434vw ,3rem)) {
    .hero__top-num {
      font-size: calc(2rem + 1 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.7304216867rem + 0.7228915663vw ,1.25rem)) {
    .hero__top-text {
      font-size: clamp(.875rem ,.7304216867rem + .7228915663vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.7304216867rem + 0.7228915663vw ,1.25rem)) {
    .hero__top-text {
      font-size: calc(.875rem + .375 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (font-size:clamp(2rem ,1.2289156627rem + 3.8554216867vw ,4rem)) {
    .hero__title {
      font-size: clamp(2rem ,1.2289156627rem + 3.8554216867vw ,4rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.2289156627rem + 3.8554216867vw ,4rem)) {
    .hero__title {
      font-size: calc(2rem + 2 * (100vw - 20rem)/ 51.875)
    }
  }
  @supports (font-size:clamp(2.1875rem ,1.874246988rem + 1.5662650602vw ,3rem)) {
    .review__text {
      font-size: clamp(2.1875rem ,1.874246988rem + 1.5662650602vw ,3rem)
    }
  }
  @supports not (font-size:clamp(2.1875rem ,1.874246988rem + 1.5662650602vw ,3rem)) {
    .review__text {
      font-size: calc(2.1875rem + .8125 * (100vw - 20rem)/ 51.875)
    }
  }
}
@media (min-width:61.99875em) and (max-width:89.99875em) {
  @supports (padding-right:clamp(1.875rem ,-5.0445033482rem + 11.1607142857vw ,5rem)) {
    .info > :not(.info__img) {
      padding-right: clamp(1.875rem ,-5.0445033482rem + 11.1607142857vw ,5rem)
    }
  }
  @supports not (padding-right:clamp(1.875rem ,-5.0445033482rem + 11.1607142857vw ,5rem)) {
    .info > :not(.info__img) {
      padding-right: calc(1.875rem + 3.125 * (100vw - 61.99875rem)/ 28)
    }
  }
  @supports (padding-left:clamp(1.875rem ,-9.1962053571rem + 17.8571428571vw ,6.875rem)) {
    .info.info-reverse > :not(.info__img) {
      padding-left: clamp(1.875rem ,-9.1962053571rem + 17.8571428571vw ,6.875rem)
    }
  }
  @supports not (padding-left:clamp(1.875rem ,-9.1962053571rem + 17.8571428571vw ,6.875rem)) {
    .info.info-reverse > :not(.info__img) {
      padding-left: calc(1.875rem + 5 * (100vw - 61.99875rem)/ 28)
    }
  }
}
@media (min-width:40.62375em) and (max-width:71.875em) {
  @supports (margin-bottom:clamp(1.5625rem ,-7.0493905244rem + 21.1991520339vw ,8.1875rem)) {
    .review__text:not(:last-child) {
      margin-bottom: clamp(1.5625rem ,-7.0493905244rem + 21.1991520339vw ,8.1875rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5625rem ,-7.0493905244rem + 21.1991520339vw ,8.1875rem)) {
    .review__text:not(:last-child) {
      margin-bottom: calc(1.5625rem + 6.625 * (100vw - 40.62375rem)/ 31.25125)
    }
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    color: var(--pepins-orange)
  }
  .dropdown__link:hover {
    color: var(--pepins-orange)
  }
  .button:hover {
    background-color: var(--pepins-orange-80)
  }
  .big-button:hover {
    background-color: var(--pepins-orange-80)
  }
  .white-btn:hover {
    background-color: var(--pepins-light-gray-2-80)
  }
  .gray-btn:hover {
    background-color: rgba(93,102,111,.8)
  }
  .footer__contact-link:hover {
    color: var(--pepins-green-2)
  }
  .footer__nav-link:hover {
    color: var(--pepins-green-2)
  }
  .socials__link:hover {
    color: var(--pepins-green-2)
  }
  .works__link:hover {
    color: var(--pepins-light-steel)
  }
  .card:hover .card__arrow {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .card__link:hover {
    color: var(--pepins-light-steel)
  }
  .review__btn:hover {
    background-color: var(--pepins-light-gray-2-50)
  }
  .review__btn:hover svg {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .trade-table__name:hover {
    color: var(--pepins-light-steel)
  }
}